PORT=3000
CLIENT_ORIGIN=*

# Firebase Web App config (for browser sign-in)
FIREBASE_API_KEY=AIzaSyBpzfdYiFK8t8aRkUcgoqg8t1OrppdIr2g
FIREBASE_AUTH_DOMAIN=my-app-f7e6e.firebaseapp.com
FIREBASE_PROJECT_ID=my-app-f7e6e
FIREBASE_APP_ID=1:656445170388:web:d9ef360e13d0a4e8301141

# Firebase Admin SDK service account (for server-side token verification)
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxx@my-app-f7e6e.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
